body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: #B5000F;
}

h1 a {
    text-decoration: none;
    color: #B5000F;
}

h2 {
    color: #B5000F;
}

h3 {
    font-style: italic;
    color: #B5000F;
}

h4 {
    font-weight: normal;
    color: #B5000F;
}

div.qr {
    float: right;
    text-align: center;
    margin: 0.5em;
}

div.qr img {
  border: 20px solid #ffffff;
  width: 200px;
  height: auto;
}

div.qr p {
  margin-top: 0.2em;
  font-style: italic;
}

div.highlight {
    float: right;
    text-align: center;
    border: 4px solid #f4f400;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 1em 0.5em 1em;
}

div.highlight div {
    width: 50%;
    float: left;
    text-align: center;
    font-weight: bold;
    color: #B5000F
}

div.highlight div span {
    font-size: 175%;
}

ol li {
    margin: 0 2em 1em 1em;
    padding: 0.4em 0.8em;
    border-radius: 25px;
    background-color: #e3edf9;
}